includes:
    - vendor/filament/filament/phpstan.neon
    - vendor/laravel/framework/phpstan.neon

parameters:
    level: 5
    paths:
        - app
        - database
        - config
        - routes
    excludePaths:
        analyse:
            - app/Models/*.php
            - app/Providers/*.php
            - database/seeders/*.php
            - database/factories/*.php
            - config/*.php

    checkMissingIterableValueType: false

rules:
    - laravel
    - filament
