{
    # FrankenPHP workers configuration
    frankenphp {
        worker /var/www/html/workers.php
        worker_processes 4
    }
}

:80 {
    root * /var/www/html/public
    php {
        root /var/www/html/public
    }
    encode gzip
    file_server
    rewrite {
        regexp .*
        to {path} /index.php?{query}
    }
}
